.stu-top-bar {
    background-color: #2196f3;
    color: #ffffff;
    padding: 1rem;
  }


.stu-page-container {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  background-color: #f3f3f3;
}

.stu-side-bar {
  left: 0;
  top: 0;
  background-color: #e8f4f8;
  padding: 20px;
  width: 200px;
  /* height: 100%; */
  display: inline-flex;
}

.stu-side-bar a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.stu-content {
    top: 0;
  flex: 1;
  padding: 20px;
  /* flex-grow: 1; */
  margin-left: 250px;
  display: inline-block;
}

.stu-section {
  margin-bottom: 20px;
}

.stu-section h2 {
  margin-bottom: 10px;
}

.stu-card-container {
  display: flex;
  flex-wrap: wrap;
}

.stu-card {
  width: calc(50% - 10px);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.stu-course-card {
    border: 1px solid #f3f3f3;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5%;
  }
